In [2]:
print("Jai Ganesh")

Jai Ganesh

# Tuple creation

In [ ]:
tuple1=("ganesh",10,10.1,2+3j,True)

### Ordered

In [4]:
print(tuple1)

('ganesh', 10, 10.1, (2+3j), True)

In [5]:
print(type(tuple1))

<class 'tuple'>

### Immutable

In [6]:
list1=[10,20,30]

In [7]:
list1[0]=11

In [8]:
print(list1)

[11, 20, 30]

In [9]:
tuple2=("ganesh",10,10.1,2+3j,True)

In [10]:
tuple2[0]="santosh"

TypeError: 'tuple' object does not support item assignment

### Allow Duplicates

In [ ]:
tuple3=("ganesh",10,10.1,2+3j,True,10)

In [12]:
print(tuple3)

('ganesh', 10, 10.1, (2+3j), True, 10)

Empty Tuple

In [13]:
list1=[]

In [14]:
print(list1)

[]

In [15]:
tuple4=()

In [16]:
print(tuple4)

()

In [17]:
print(type(tuple4))

<class 'tuple'>

### Single-Item Tuple

In [18]:
list2=[10]

In [19]:
print(list2)

[10]

In [20]:
tuple4=(10)

In [21]:
print(tuple4)

10

In [22]:
print(type(tuple4))

<class 'int'>

In [23]:
tuple4=(10,)

In [24]:
print(tuple4)

(10,)

In [25]:
print(type(tuple4))

<class 'tuple'>

### Accessing Tuple Elements

In [26]:
tuple5=("ganesh",10,10.1,2+3j,True,10)

In [27]:
print(tuple5)

('ganesh', 10, 10.1, (2+3j), True, 10)

### Tuple indexing

In [28]:
print(tuple5[3])

(2+3j)

In [29]:
print(tuple5[-1])

10

In [30]:
print(tuple5[-4])

10.1

### Tuple Slicing

In [31]:
data=(10,20,30,40,50)

In [32]:
print(data[0:3])

(10, 20, 30)

In [33]:
print(data[0:1])

(10,)

In [34]:
print(data[0:2])

(10, 20)

### Tuples are Immutable

In [ ]:
tuple1=(1,2,3)

In [36]:
print(tuple1)

('ganesh', 10, 10.1, (2+3j), True)

In [37]:
tuple1[0]=11

TypeError: 'tuple' object does not support item assignment

### Concatenation — Joining Tuples

In [38]:
tuple1=(10,20,30)

In [39]:
tuple2=(40,50,60)

In [40]:
tuple3=tuple1+tuple2

In [41]:
print(tuple3)

(10, 20, 30, 40, 50, 60)

### Merging

In [43]:
first  = (1, 2, 3)
second = (4, 5, 6)
merged = first + second
print(merged)      # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [54]:
tuple1=(10,20,30)

In [55]:
print(tuple1)

(10, 20, 30)

In [56]:
print(id(tuple1))

135924178544896

In [57]:
list1=list(tuple1)

In [58]:
print(list1)

[10, 20, 30]

In [59]:
list1[2]=40

In [60]:
print(list1)

[10, 20, 40]

In [63]:
tuple(list1)

TypeError: 'tuple' object is not callable

### Converting string to Tuple

In [1]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [2]:
tuple([1,2,3])

(1, 2, 3)

In [3]:
tuple({1,2,3})

(1, 2, 3)

In [5]:
tuple({"name":"ganesh","roll_no":10})

('name', 'roll_no')

In [6]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Aliasing

In [7]:
tuple1=(10,20,30)

In [8]:
tuple2=tuple1

In [9]:
print(id(tuple1))

129567627438784

In [10]:
print(id(tuple2))

129567627438784

### Cloning

In [13]:
tuple1=(10,20,30)

In [17]:
original_tuple = (10, 20, 30)
cloned_tuple = original_tuple.copy()

print(id(original_tuple))  # (10,20,30) address: 100123
print(id(cloned_tuple))    # (10,20,30) address: 100124
# Same content, different memory!

AttributeError: 'tuple' object has no attribute 'copy'

### Searching — 'in' Membership Operator

In [18]:
nums = (1, 2, 3, 4, 5)
print(3 in nums)     # True
print(8 in nums)     # False

True
False

### Identity — 'is' Operator

In [20]:
p = (1, 2, 3)
q = p             # aliasing — same object
r=(10,20,30)
print(p is q)     # True  (same memory)
print(q is p)

True
True

In [21]:
print(r is p)

False

### Comparison

In [22]:
a = (1, 2, 3, 4)
b = (1, 2, 5)
print(a < b)    # True   (3 < 5 at index 2)
print(a > b)    # False
print(a == b)   # False

True
False
False

## Emptiness

In [23]:
my_tuple = ()

if not my_tuple:
    print("tuple is empty")
else:
    print("tuple is not empty")

# Output: tuple is empty

tuple is empty

In [24]:
my_tuple = (10,)

if not my_tuple:
    print("tuple is empty")
else:
    print("tuple is not empty")

# Output: tuple is empty

tuple is not empty

### Nested tuple

In [25]:
a = (10, 20, 30)
b = (40, 50, 60)
c = (a, b)
print(c)     # ((10, 20, 30), (40, 50, 60))

((10, 20, 30), (40, 50, 60))

In [26]:
print(c[0])

(10, 20, 30)

In [27]:
print(c[1])

(40, 50, 60)

In [28]:
print(c[0][0])

10

In [29]:
print(c[0][2])

30

In [30]:
a = (10, 20, 30)
b = (40, 50, 60)
c = (a, b)
print(c)     # ((10, 20, 30), (40, 50, 60))

((10, 20, 30), (40, 50, 60))

In [32]:
print(c[1][2])

60